@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.landing {
  position: relative;
  color: #fff;

  background-repeat: no-repeat;

  width: auto 100%;

  margin: 0 auto;
  top: 0;
  padding: 4em 0;
  display: block;
}

.landing-text {
  max-width: 40em;
  text-align: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}


